[Unit]
Description=WeChat Public Accounts Service
After=syslog.target
After=network.target

[Service]
Type=simple
WorkingDirectory={{ wechat-ai path }}
ExecStart={{ wechat-ai path }}/wechat-ai
Restart=abort

[Install]
WantedBy=multi-user.target

